body {
    padding: 0;
    margin: 0;
}

.middle {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 7px;
    color: #3498db;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px -5px #00000070;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.btn:nth-child(1) {
    color: #3b5998;
}

.btn:nth-child(2) {
    color: #1ea2f3;
}

.btn:nth-child(3) {
    color: #8a3ab9;
}

.btn:nth-child(4) {
    color: #0077b5;
}

.btn:nth-child(5) {
    color: #c4302b ;
}

.btn i {
    line-height: 90px;
    font-size: 26px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.btn:hover i {
    color: #f1f1f1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    left: -110%;
    top: 90%;
/*    background: #3498db;*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


.btn:nth-child(1)::before {
    background: #3b5998;
}

.btn:nth-child(2)::before  {
    background: #1ea2f3;
}

.btn:nth-child(3)::before  {
    background: url('../img/instagram.jpg') no-repeat top left ;
}

.btn:nth-child(4)::before  {
    background: #0077b5;
}

.btn:nth-child(5)::before  {
    background: #c4302b ;
}

.btn:hover::before {
    animation: anim 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes anim {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        left: -10%;
        top: -10%;
    }
}